@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #28294B
}

body {
    font-family: anton, sans-serif;
    color: #ABA9BB
}

/* headings and logo */

h1, h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#gig-city {
    float: left;
    font-size: 400%;
}

#gig-city, #header-links {
    line-height: 75px;
}

/* Links for navigation */


#header-links {
    font-size: 200%;
    letter-spacing: 2px;
    float: right;
    
}

#header-links li {
    list-style-type: none;
    margin-right: 30px;
    float: left;
}

#header-links a {
    text-decoration: none;
    color: inherit;
}

#header-links a:hover {
    border-bottom: 2px solid;
}

.active-page {
    border-bottom: 2px solid;
}

/* Site intro and brief blurb */

.venue-intro {
    margin: 100px;

}